/**
 * Project SASS Mixins
 */
@function em($target, $context: $base-font-size) {
	@return $target / $context + 0em;
}

@function perc($width, $container-width: $max-width-px) {
   @return percentage($width / $container-width);
}

@function lh($amount: 1, $context: $base-font-size) {
   @return em($base-line-height * $amount, $context);
}

@mixin bg-img($start: $white, $end: $gray-lighter) {
	@include background-image(linear-gradient($start, $end));
}	


// Include additional placeholders not in compass-placeholders
// float styles
$float-placeholders: none, left, right;
@each $property in $float-placeholders {
  %float-#{$property} {
    float: $property;
  }
}

// position styles
$position-placeholders: absolute, relative, fixed;
@each $property in $position-placeholders {
  %position-#{$property} {
    position: $property;
  }
}