#item#
<div class="project" data-details="{{theBlogUrl}}">
    <div class="project-img">
        <a class="no-border" href="{{theLink}}" target="_blank">
            <img src="{{primaryPic}}" alt="{{name}}" width="450" height="280">
        </a>
    </div>
    <div class="project-info">
        <h3 class="project-title headline headline-large">{{name}}</h3>
        <div class="project-summary">
            {{summary}}
            <div class="project-url">{{blogUrl}}<a href="{{theLink}}" target="_blank">{{url}}</a></div>
        </div>
    </div>
</div>
#end item#

